.profile-img {
    border-radius: 50%;
}

.recent-prj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #302E33;
    max-width: 100%;
}